{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "import"
  ],
  "ignorePatterns": [
    "**/node_modules/**",
    "dist/**"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "func-names": "off",
    "max-len": [
      "error",
      {
        "code": 140,
        "ignoreTemplateLiterals": true
      }
    ],
    "newline-per-chained-call": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-void": [
      "error",
      {
        "allowAsStatement": true
      }
    ],
    "object-curly-newline": "off",
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": [
            "/",
            "#region",
            "#endregion"
          ]
        }
      }
    ],
    "import/newline-after-import": 1,
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-dupe-class-members": "off",
    "no-duplicate-imports": "off",
    "no-loop-func": "off",
    "no-return-await": "off",
    "no-unused-expressions": "off",
    "object-curly-spacing": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "import/no-extraneous-dependencies": "off",
    "import/named": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/consistent-indexed-object-style": "error",
    // "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/explicit-member-accessibility": [
      "error",
      {
        "overrides": {
          "constructors": "no-public"
        }
      }
    ],
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-dupe-class-members": "error",
    "@typescript-eslint/no-duplicate-imports": "error",
    "@typescript-eslint/no-floating-promises": [
      "error",
      {
        "ignoreIIFE": true,
        "ignoreVoid": true
      }
    ],
    "@typescript-eslint/no-inferrable-types": [
      "error",
      {
        "ignoreParameters": true,
        "ignoreProperties": true
      }
    ],
    "@typescript-eslint/no-loop-func": "error",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unnecessary-type-arguments": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/no-unnecessary-type-constraint": "error",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/object-curly-spacing": [
      "error",
      "always"
    ],
    "@typescript-eslint/prefer-includes": "off",
    "@typescript-eslint/prefer-optional-chain": "error",
    "@typescript-eslint/promise-function-async": "error",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/typedef": [
      "error",
      {
        "arrowParameter": true,
        "memberVariableDeclaration": true,
        "parameter": true,
        "propertyDeclaration": true
      }
    ],
    "@typescript-eslint/unbound-method": "off",
    "import/order": [
      2,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/extensions": [
      0,
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
   ]
  }
}
